@model SampleDemoMVC.Models.NicheListingHousehold

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NicheListingHousehold</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPregnantWomanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPregnantWomanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasEligibleChildrenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasEligibleChildrenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PregnantWomenNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PregnantWomenNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EligibleChildrenNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EligibleChildrenNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnumeratorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnumeratorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationEnumeratorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationEnumeratorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectionReasonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectionReasonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherRejectionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherRejectionReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
