@model SampleDemoMVC.Models.HouseholdMembers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HouseholdMembers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationshipId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationshipId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberRoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberRoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalIdNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalIdNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthCertNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCertNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseholdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseholdId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
